/* estilos de presentacion */
#fondoBienvenida{
    background-image: url(./IMAGENES/Central/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;
    


}


/* estilos de cards en general */


.cardGenerales{
    border:none;
    background-color: transparent;
    padding: 1em;
    margin: none;
    color: white;
}

/* media query */
@media screen and (min-width:480px) and (max-width:940px) {
    .cardGenerales{
        color: black;
    }
    
}

@media screen and (min-width:941px) and (max-width:1300px) {
    #fondoBienvenida{
        height:100%;
    }
    #contenedorBienvenida{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        
    }
    .contenedorTexto{
        margin: 2rem;
    }
    
}
@media screen and (min-width:1301px) {
    #contenedorBienvenida{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;        
    }
    .contenedorTexto{
        margin: 2rem;
    }
    
}